<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547571244130-33eci8vic463gd1j9bnm78uer3gju4ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547571244130-33eci8vic463gd1j9bnm78uer3gju4ip</string>
	<key>API_KEY</key>
	<string>AIzaSyChexR-45GDHQRGuyL2cph63dFvyXu2zOg</string>
	<key>GCM_SENDER_ID</key>
	<string>547571244130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlocPractise</string>
	<key>PROJECT_ID</key>
	<string>bloc-photo-libary</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-photo-libary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547571244130:ios:d23a22d4a07d80a530453b</string>
</dict>
</plist>